node_modules
.angular/cache/17.3.11/vite/deps/chunk-DWAXEMRM.js
.angular/cache/17.3.11/vite/deps/chunk-DWAXEMRM.js.map
.angular/cache/17.3.11/vite/deps/chunk-GLSCEWEK.js
.angular/cache/17.3.11/vite/deps/chunk-GLSCEWEK.js.map
.angular/cache/17.3.11/vite/deps/chunk-LNQI7UIU.js
.angular/cache/17.3.11/vite/deps/chunk-LNQI7UIU.js.map
.angular/cache/17.3.11/vite/deps/chunk-TLNYYXWX.js
.angular/cache/17.3.11/vite/deps/chunk-TLNYYXWX.js.map
.angular/cache/17.3.11/vite/deps/chunk-X6JV76XL.js
.angular/cache/17.3.11/vite/deps/chunk-X6JV76XL.js.map
.angular/cache/17.3.11/vite/deps/express.js
.angular/cache/17.3.11/vite/deps/express.js.map
.angular/cache/17.3.11/my-app/.tsbuildinfo
