.category-image {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 10%;

  }

  p{
    color:black;
    text-align:Center;
  }
  .function{
    text-align: center;
  }
  