

    <!-- Header -->
    <!-- Hero Section -->
    <!-- <a click = "ClikClick()">Cat</a> -->
    <section class="hero">
        
        <div class="hero-content">
            <h2>Welcome to ShopNow</h2>
            <p>Explore the best deals on your favorite products</p>
            <a href="Product" class="btn">Shop Now</a>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 ShopNow. All rights reserved.</p>
        </div>
    </footer>


